<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/icons/favicon.png' }}" >
  {% include fonts.html %}
  {% include vendor-scripts.html %}
</head>
