<div class="sidebar">
	<ul class="sidebar-internal-links">
		{% assign links = include.internal-links %}
		{% for item in links %}
			<li>
				<a
					aria-label="{{ item.label }}"
					{% unless item.internal %}target="_blank" rel="noopener"{% endunless %}
					href="{% if item.internal %}{{ item.url | relative_url }}{% else %}{{ item.url }}{% endif %}"
					class="link-item"
				>
					<i class="{{ item.icon }}"></i>
					<span class="label">{{ item.label }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
	<hr class="divider">
	<ul class="sidebar-links">
		{% assign links = include.links %}
		{% for item in links %}
			<li>
				<a
					aria-label="{{ item.label }}"
					{% unless item.internal %}target="_blank" rel="noopener"{% endunless %}
					href="{% if item.internal %}{{ item.url | relative_url }}{% else %}{{ item.url }}{% endif %}"
					class="link-item"
				>
					<i class="{{ item.icon }}"></i>
					<span class="label">{{ item.label }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
