$color-main: #050a05;
$color-sec: #668062;
$color-icon: #fff !default;

$size-cut: 720px;

$size-icon-text-small: 3.81vw;
$size-icon-small: 5.50vw !default;
$size-icon-large: 1.875vw !default;
$size-icon-text-large: 1.3vw;
