<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="solid-bg" aria-hidden="true"></div>
		<div class="site-wrapper">
			<div class="canvas">
				<div class="header">
					<a href="{{ '/' | relative_url }}" class="home-button"><i class="fa-solid fa-home"></i></a>
				</div>
				<div class="under-construction">
					<i class="fa-solid fa-person-digging"></i>
					<span class="description">This page is currently undergoing construction.</span>
				</div>
			</div>
			<main id="main" role="main" class="site-main"></main>{% include footer.html %}
		</div>
		{% include post-scripts.html %}
	</body>
</html>
